<footer>
   <div class="left-side">
    <img src="./assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png" alt="">
   </div>
   <div class="right-side">
    <div class="social-miedia-icons">
        <a href="imprint"><p>Imprint</p></a>
        <a href=""><img src="./assets/icons/instagrram_logo.png" alt=""></a>
        <a href=""><img src="./assets/icons/facebook_logo.png" alt=""></a>
        <a href=""><img src="./assets/icons/tripadvisor_logo.png" alt=""></a>
    </div>
   </div>

</footer>
