<div class="ourMenu" id="ourmenu">
    <h2 id="food">OUR MENU</h2>
    <div class="tonkotsu">
      <table class="tablemenu">
        <tr class="menuTitel">
          <td>Tonkotsu Ramen</td>
        </tr>
        <tr class="list">
          <td id="chicken">CHICKEN</td>
          <td>11.95€</td>
        </tr>
        <tr class="list">
          <td id="beef">BEEF</td>
          <td>12.95€</td>
        </tr>
        <tr class="list">
          <td id="schrimp">SHRIMP</td>
          <td>13.95€</td>
        </tr>
      </table>
        <div>
          <img class="ramenSizing" src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="tonkotsu" />
        </div>
    </div>

    <div class="spicy">
      <table class="tablemenu">
        <tr class="menuTitel">
          <td>Spicy Miso Ramen</td>
        </tr>
        <tr class="list">
          <td  id="chicken2">CHICKEN</td>
          <td>11.95€</td>
        </tr>
        <tr class="list">
          <td id="beef2">BEEF</td>
          <td>12.95€</td>
        </tr>
        <tr class="list">
          <td id="schrimp2">SHRIMP</td>
          <td>13.95€</td>
        </tr>
      </table>
        <div><img class="ramenSizing" src="../../../assets/img/3_section_our_menu/Png/R2.png" alt="spicy" /></div>
    </div>
    <div class="shio margin-bottom-56">
      <table class="tablemenu">
        <tr class="menuTitel">
          <td>Shio Ramen</td>
        </tr>
        <tr class="list">
          <td id="chicken3">CHICKEN</td>
          <td>11.95€</td>
        </tr>
        <tr class="list">
          <td id="beef3">BEEF</td>
          <td>12.95€</td>
        </tr>
        <tr class="list">
          <td id="schrimp3">SHRIMP</td>
          <td>13.95€</td>
        </tr>
      </table>
        <div><img class="ramenSizing" src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="shio" /></div>
    </div>
  </div>
