<nav>
  <div>
    <img
      src="../assets/icons/sakura_logo.png"
      class="sakura_logo"
      alt="sakura_logo"
    />
    <div class="nav-content">
      <a id="menu" href="#ourmenu">MENU</a>
      <a id="locations" href="#location">LOCATIONS</a>
      <a id="about" href="#">ABOUT</a>
      <div class="button">
        <img src="../assets/icons/phone.png" alt="phoneLogo" class="phone" /><a
          href="tel:01743473624"
        >
          01743473624</a
        >

        <!-- <img onclick="german()" class="language-icon" src="../assets/icons/ger.png" alt="german"><img onclick="english()" class="language-icon" src="../assets/icons/uk.png" alt="english"> -->
      </div>
    </div>
  </div>
</nav>
