<div class="howTo">
  <h2 id="howtoorder">HOW TO ORDER</h2>
  <div class="extraOptions">
    <div class="optionsSection">
      <img
        class="howtoSizing"
        src="./assets/img/2_section_how_to_order/PNG/noodle.png"
        alt="noodle"
      /><span class="economica" id="picknoodle">Pick your<br />noodle</span>
    </div>
    <div class="optionsSection">
      <img
        class="howtoSizing"
        src="./assets/img/2_section_how_to_order/PNG/broth.png"
        alt="broth"
      /><span class="economica" id="pickbroth">Pick your<br />broth</span>
    </div>
    <div class="optionsSection">
      <img
        class="howtoSizing"
        src="./assets/img/2_section_how_to_order/PNG/egg.png"
        alt="toppings"
      /><span class="economica" id="addtoppings">Add your<br />toppings</span>
    </div>
  </div>
</div>
