
h2,
h3 {
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  display: flex;
  font-family: Raleway;
  margin-block-start: 0;
  margin-block-end: 0;
  justify-content: center;
  margin: 0;
  padding-top: 120px;
}

h2 {
  padding-bottom: 64px;
}

h3 {
  padding-bottom: 0;
}

.howTo {
    .extraOptions {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 120px;
     
  
      .optionsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .howtoSizing {
          width: 128px;
          height: 128px;
          margin-bottom: 16px;
        }
  
        .economica {
            font-family: 'Economica Bold';
            font-style: normal;
            font-weight: normal;
          font-size: 56px;
          text-align: center;
        }
      }
    }
  }